.listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 24px;
  justify-self: center;
  padding: 24px;
  margin: 30px; 
}

.listing-link {
  text-decoration: none; 
  color: inherit; 
}

.load-more {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
    background: linear-gradient(270deg, #efdc97, #a96f44);
  border: '2px solid linear-gradient(270deg, #efdc97, #a96f44)';
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  height: 50px;
  width: 200px;
  margin: 10px;
  display: block;
}

.allListings {
  align-content: center;
}

.load-more-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.load-more:hover {
  color: black;
  background: white;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .listings {
    grid-template-columns: 1fr;
    margin: 10px; 
  }
  
  .load-more {
    width: 200px;
  }
}
