.listing-card {
    /* border: 1px solid #7c7c7c; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    /* background-color: #c5c5c5; */
    width: inherit;
    max-width: 500px;
  }
  
  .listing-card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  }
  
  .thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
  }
  .listing-card:hover img {
    transform: scale(1.1);
  }
  
  .listing-details {
    padding: 16px;
  }
  
  .listing-labels {
    display: flex;
    gap: 8px;
  }
  
  .listing-label {
    color: black;
    border-radius: 50px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    background: linear-gradient(270deg, #efdc97, #a96f44);
    border: 1px solid;
  }
  
  .listing-location,
  .listing-name,
  .listing-price {
    margin: 8px 0;
  }
    .agent-details {
      display: flex;
      align-items: center;
      padding-top: 16px;
      border-top: 1px solid #e0e0e0;
      margin-top: 16px;
    }
    
    .agent-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 12px;
    }

    .agent-info {
      flex-grow: 1;
    }
    
    .agent-name {
      font-weight: 700;
      margin-bottom: 4px;
    }
    
    .agent-role {
      font-size: 14px;
      color: #7c7c7c;
    }
    
    .agent-contact {
      display: flex;
      gap: 30px;
      text-decoration: none;
    }
    .agent-contact-icon:hover {
      scale: 1.3;
    }
    @media (max-width: 768px) {
      .listing-card {
        width: 100%;
      }
    }
    
  